In [1]:
import sys
sys.path.append('/work/pikachu/utils/')
sys.path.append('/work/pikachu/third/')
sys.path.append('..')
from gezi.common import *
import gezi
from src.config import *
from src.util import *
gezi.init_flags()

INFO: Pandarallel will run on 16 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

[07/14/23 15:59:27] config.py:124 in <module>- N_COLS: 184
[07/14/23 15:59:27] config.py:144 in <module>- VOCAB_SIZE: 65
[07/14/23 15:59:27] config.py:145 in <module>- len(IDX2CHAR): 65

In [2]:
# created by prepare/gen-df.py
train = pd.read_feather(f'{FLAGS.root}/train.fea')
train.head(5)

,index,frames,file_id,fold,idx,n_frames,n_frames_per_char,participant_id,phrase,phrase_,phrase_dup,phrase_len,phrase_type,phrase_type_,sequence_id,weight
0,0,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",234418913,1,1891,135,9.642858,202,+39-691-02-830,"[10, 18, 24, 12, 21, 24, 16, 12, 15, 17, 12, 2...",0,14,phone,2,2053287315,1.0
1,1,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",234418913,1,1963,107,10.700000,36,ruth gibbs,"[49, 52, 51, 39, 0, 38, 40, 33, 33, 50, 61, 59...",0,10,address,0,2063062437,1.0
2,2,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",234418913,1,1806,103,7.357143,141,59 dodds creek,"[20, 24, 0, 35, 46, 35, 35, 50, 0, 34, 49, 36,...",0,14,address,0,2042951141,1.0
3,3,"[[0.679081, 0.62824833, 0.5867444, 0.55760944,...",234418913,1,1857,151,11.615385,154,darrell simon,"[35, 32, 49, 49, 36, 43, 43, 0, 50, 40, 44, 46...",0,13,address,0,2050302009,1.0
4,4,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",234418913,1,2025,154,8.105263,202,+976-2297-742-44-88,"[10, 24, 22, 21, 12, 17, 17, 24, 22, 12, 22, 1...",0,19,phone,2,2070428834,1.0

In [6]:
df = train[train.fold==0]
df = df.sort_values(by=['idx'], ascending=True)
df.head(5)

,index,frames,file_id,fold,idx,n_frames,n_frames_per_char,participant_id,phrase,phrase_,phrase_dup,phrase_len,phrase_type,phrase_type_,sequence_id,weight
22341,22341,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",5414471,0,0,127,8.466666,107,scales/kuhaylah,"[50, 34, 32, 43, 36, 50, 14, 42, 52, 39, 32, 5...",0,15,url,1,1816825349,1.0
22209,22209,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",5414471,0,1,236,12.421053,1,1383 william lanier,"[16, 18, 23, 18, 0, 54, 40, 43, 43, 40, 32, 44...",1,19,address,0,1816909464,1.0
22320,22320,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",5414471,0,2,300,13.636364,70,https://jsi.is/hukuoka,"[39, 51, 51, 47, 50, 25, 14, 14, 41, 50, 40, 1...",1,22,url,1,1817169529,1.0
22180,22180,"[[0.9317963, 0.8649128, 0.80721205, 0.7606563,...",5414471,0,3,120,8.571428,20,wildberries_ru,"[54, 40, 43, 35, 33, 36, 49, 49, 40, 36, 50, 3...",1,14,address,0,1817348598,1.0
22178,22178,"[[nan, nan, nan, nan, nan, nan, nan, nan, nan,...",5414471,0,4,182,9.100000,254,6867 granville drive,"[21, 23, 21, 22, 0, 38, 49, 32, 45, 53, 40, 43...",1,20,address,0,1817606833,1.0

In [5]:
V = 9
fold = 0
model = 'v20.model-model2.task-encode.n_frames-256.encode_pool_size-4.ep-100'
root = f'../working/offline/{V}/{fold}/{model}'
root

'../working/offline/9/0/v20.model-model2.task-encode.n_frames-256.encode_pool_size-4.ep-100'

In [7]:
ev_df = pd.read_csv(f'{root}/eval.csv')
ev_df

,sequence_id,phrase_type,phrase_dup,phrase_true,phrase_pred,phrase_ori,n_frame,phrase_len_true,phrase_len_pred,idx,distance,type_acc,score
0,1816825349,url,0,scales/kuhaylah,seales/kuhayla,<PAD>ss<PAD>eaalleess<PAD>//<PAD><PAD>kk<PAD>u...,127,15,14,0,2,True,0.866667
1,1816909464,address,1,1383 william lanier,1383 william lanier,<PAD><PAD>1<PAD><PAD><PAD>33<PAD><PAD>88<PAD>3...,236,19,19,1,0,True,1.000000
2,1817169529,url,1,https://jsi.is/hukuoka,https://jsi.is/htkuoka,<PAD>hht<PAD><PAD>tpppss<PAD>::://<PAD>//<PAD>...,300,22,22,2,1,True,0.954545
3,1817348598,address,1,wildberries_ru,wwildcerwus,<PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><...,120,14,11,3,8,True,0.428571
4,1817606833,address,1,6867 granville drive,6867 haranville drive,<PAD><PAD><PAD><PAD>66<PAD>88<PAD><PAD>6<PAD>7...,182,20,21,4,2,True,0.900000
5,1817770333,address,1,166 water power,6w2 e.owe.,6<PAD><PAD><PAD><PAD>w2<PAD> <PAD><PAD><PAD><P...,117,15,10,5,9,True,0.400000
6,1818125771,url,1,www.theorienttreasures.com,www.theorienttreasures.com,<PAD><PAD><PAD><PAD>w<PAD>ww<PAD>www...<PAD>tt...,396,26,26,6,0,True,1.000000
7,1818160881,address,1,9345 happy dirt,9345 gapliert,<PAD><PAD><PAD>9933<PAD><PAD>4<PAD><PAD>5<PAD>...,130,15,13,7,6,True,0.600000
8,1818216000,address,1,5126 whitewind drive,5126 white lynd drive,<PAD>5<PAD>122<PAD>666 whhitttee lyynndd drii...,151,20,21,8,3,True,0.850000
9,1818246565,phone,0,893-125-1663,893-25163,<PAD>8899<PAD>33--<PAD><PAD>255<PAD>11<PAD><PA...,92,12,9,9,3,True,0.750000
10,1818249176,address,0,4821 holly ridge circle,48121 holy ridge circle,<PAD><PAD><PAD>44<PAD>881211 hol<PAD>yy riddg...,148,23,23,10,2,True,0.913043
11,1818252449,phone,0,106-703-4104,111 li,1<PAD>1<PAD>1 l<PAD><PAD><PAD><PAD><PAD><PAD...,6,12,6,11,11,False,0.083333
12,1818864430,address,0,6676 district 15 road,38 mamrick m coad,<PAD><PAD>3<PAD>88<PAD><PAD><PAD> m<PAD><PAD>...,170,21,17,12,12,True,0.428571
13,1818880834,phone,0,299-571-6098,29-7-6089,<PAD>29<PAD>--77--60899<PAD><PAD><PAD><PAD><PA...,102,12,9,13,5,True,0.583333
14,1818887623,url,0,mcdonald-s/iohk_charles,pdon.dus/bork_harles,p<PAD><PAD><PAD>d<PAD>ooonn<PAD>.<PAD>d<PAD><P...,197,23,20,14,8,True,0.652174
15,1819437603,url,0,49918/ideyoanimal/mebelrust/,4991 deyoani mmelate,<PAD><PAD>49<PAD>911<PAD><PAD> <PAD>deey<PAD>...,223,28,20,15,13,False,0.535714
16,1819442021,address,1,5270 brasher drive,53 80 yl ls hias driify,<PAD>55<PAD>33<PAD> 8<PAD><PAD><PAD>0<PAD><PAD...,248,18,24,16,15,True,0.166667
17,1819539423,url,1,fysiotherapiedewaard.nl/585685,fsiotherapkiedewaard.nd/57856,<PAD>f<PAD><PAD>ssssiotttheerrapp<PAD>kieedd<P...,312,30,29,17,6,True,0.800000
18,1819561171,url,1,23-tillbehor/,asibhan,<PAD>as<PAD>i<PAD><PAD>b<PAD>han<PAD><PAD><PAD...,34,13,7,18,10,False,0.230769
19,1819577235,address,0,deric peralta,erichbanera,<PAD>eerricchhbanerraa<PAD><PAD><PAD><PAD><PAD...,63,13,11,19,8,True,0.384615

In [10]:
ev_df.iloc[0].phrase_ori

'<PAD>ss<PAD>eaalleess<PAD>//<PAD><PAD>kk<PAD>uu<PAD>h<PAD>aayyllaa<PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><EOS><EOS><EOS><EOS><EOS><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD><PAD>'